/* form.css */
.form-container {
    width: 700px;
    margin: 50px auto;
}

.form-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-test label {
    flex-basis: 20%;
    text-align: right;
}

.form-test input {
    flex-basis: 60%;
}

.form-test p{
    flex-basis: 20%;
    text-align: left;
    padding: 10px 0 0 10px;
}

.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-div > label {
    flex-basis: 20%;
    text-align: right;
}

.form-div > div {
    flex-basis: 60%;
    margin-right: 20%;
}

.form-group button{
    width: 60%;
    margin-left: 20%;
}

.form-label{
    margin-left: 20%;
}

.form-label-div{
    padding-right: 20px;
}
